@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<!--[if IE 8 ]><html lang="en" dir="ltr"  class="no-js ie ie8 lt-ie9"><![endif]-->
<!--[if IE 9 ]><html lang="en" dir="ltr"  class="no-js ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <script type="text/javascript">
    //<![CDATA[
    try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:1441117428,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"77fc1cb371a4216529991e729a0d1030",petok:"b017d24845c51e523e3a90e83ca30f825518c868-1441938071-86400",betok:"645c13c6e29e59ce86c65ee8f1164bbf97b6a45d-1441938071-120",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"},"ga_key":{"ua":"UA-7078796-5","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=e9627cd26a/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
    //]]>
    </script>

    <link rel="shortcut icon" href="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="Generator" content="Drupal 7 (http://drupal.org)" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <!--[if lte IE 8]>
            <div style=' text-align:center; clear: both; padding:0 0 0 15px; position: relative;'>
                <a href="//windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
                    <img src="//storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
                </a>
            </div>
        <![endif]-->
    <title>Welcome to Anime | Anime</title>
    <style type="text/css" media="all">@import url("http://livedemo00.template-help.com/drupal_52895/modules/system/system.base.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/modules/system/system.menus.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/modules/system/system.messages.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/modules/system/system.theme.css?ntz1zr");</style>
    <style type="text/css" media="screen">@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tipsy/stylesheets/tipsy.css?ntz1zr");</style>
    <style type="text/css" media="all">@import url("http://livedemo00.template-help.com/drupal_52895/modules/comment/comment.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/date/date_api/date.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/modules/field/theme/field.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/modules/node/node.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/modules/poll/poll.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/modules/search/search.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_shortcodes/css/shortcodes.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/modules/user/user.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/modules/forum/forum.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/views/css/views.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_lazyload/css/tm_lazyload.css?ntz1zr");</style>
    <style type="text/css" media="all">@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/cctags/cctags.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/libraries/colorbox/example1/colorbox.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/ctools/css/ctools.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/panels/css/panels.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_animate/css/animate.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_font_awesome/css/font-awesome.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/flexslider/assets/css/flexslider_img.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/libraries/flexslider/flexslider.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/dismiss/css/dismiss.base.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_follow/css/tm_follow.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/libraries/superfish/css/superfish.css?ntz1zr");</style>
    <style type="text/css" media="screen">@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/css/boilerplate.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/css/style.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/css/maintenance-page.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/css/skeleton.css?ntz1zr");@import url("http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/css/custom.css?ntz1zr");</style>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/jquery_update/replace/jquery/1.8/jquery.min.js?v=1.8.2"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/misc/jquery.once.js?v=1.2"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/misc/drupal.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tipsy/javascripts/jquery.tipsy.js?v=0.1.7"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tipsy/javascripts/tipsy.js?v=0.1.7"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/jquery_update/replace/ui/external/jquery.cookie.js?v=67fb34f6a866c40d0570"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_shortcodes/js/jquery.easypiechart.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_shortcodes/js/jquery.appear.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_shortcodes/js/shortcodes.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_lazyload/js/jquery.lazyloader.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/libraries/colorbox/jquery.colorbox-min.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/colorbox/js/colorbox.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_animate/js/wow.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/libraries/flexslider/jquery.flexslider-min.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/misc/textarea.js?v=7.34"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/olark/olark.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_block_bg/js/tm_block_bg_parallax.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_block_bg/js/jquery.stellar.min.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_block_bg/js/tm_block_bg_video.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/tm_block_bg/js/jquery.mb.YTPlayer.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/libraries/superfish/jquery.hoverIntent.minified.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/libraries/superfish/sftouchscreen.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/libraries/superfish/superfish.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/libraries/easing/jquery.easing.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/libraries/superfish/supersubs.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/superfish/superfish.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/theme954.core.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/jquery.loader.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/jquery.debouncedresize.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/jquery.mobilemenu.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/jquery.easing.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/jquery.ui.totop.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/jquery.cookie.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/tm-stick-up.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/tformer.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/device.min.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/jquery.mousewheel.min.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/jquery.simplr.smoothscroll.min.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/migrate.js?ntz1zr"></script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/js/tm-parallax.js?ntz1zr"></script>
    <script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/drupal_52895\/","pathPrefix":"","ajaxPageState":{"theme":"theme954","theme_token":"S7C6O8G27OY-uS6S_m7VSaUW6bNTAGsJAerBZCvQK0s","js":{"0":1,"sites\/all\/modules\/flexslider\/assets\/js\/flexslider.load.js":1,"sites\/all\/modules\/jquery_update\/replace\/jquery\/1.8\/jquery.min.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/modules\/tipsy\/javascripts\/jquery.tipsy.js":1,"sites\/all\/modules\/tipsy\/javascripts\/tipsy.js":1,"sites\/all\/modules\/jquery_update\/replace\/ui\/external\/jquery.cookie.js":1,"sites\/all\/modules\/tm_shortcodes\/js\/jquery.easypiechart.js":1,"sites\/all\/modules\/tm_shortcodes\/js\/jquery.appear.js":1,"sites\/all\/modules\/tm_shortcodes\/js\/shortcodes.js":1,"sites\/all\/modules\/tm_lazyload\/js\/jquery.lazyloader.js":1,"sites\/all\/libraries\/colorbox\/jquery.colorbox-min.js":1,"sites\/all\/modules\/colorbox\/js\/colorbox.js":1,"sites\/all\/modules\/tm_animate\/js\/wow.js":1,"sites\/all\/libraries\/flexslider\/jquery.flexslider-min.js":1,"misc\/textarea.js":1,"sites\/all\/modules\/olark\/olark.js":1,"sites\/all\/modules\/tm_block_bg\/js\/tm_block_bg_parallax.js":1,"sites\/all\/modules\/tm_block_bg\/js\/jquery.stellar.min.js":1,"sites\/all\/modules\/tm_block_bg\/js\/tm_block_bg_video.js":1,"sites\/all\/modules\/tm_block_bg\/js\/jquery.mb.YTPlayer.js":1,"sites\/all\/libraries\/superfish\/jquery.hoverIntent.minified.js":1,"sites\/all\/libraries\/superfish\/sftouchscreen.js":1,"sites\/all\/libraries\/superfish\/superfish.js":1,"sites\/all\/libraries\/easing\/jquery.easing.js":1,"sites\/all\/libraries\/superfish\/supersubs.js":1,"sites\/all\/modules\/superfish\/superfish.js":1,"sites\/all\/themes\/theme954\/js\/theme954.core.js":1,"sites\/all\/themes\/theme954\/js\/jquery.loader.js":1,"sites\/all\/themes\/theme954\/js\/jquery.debouncedresize.js":1,"sites\/all\/themes\/theme954\/js\/jquery.mobilemenu.js":1,"sites\/all\/themes\/theme954\/js\/jquery.easing.js":1,"sites\/all\/themes\/theme954\/js\/jquery.ui.totop.js":1,"sites\/all\/themes\/theme954\/js\/jquery.cookie.js":1,"sites\/all\/themes\/theme954\/js\/tm-stick-up.js":1,"sites\/all\/themes\/theme954\/js\/tformer.js":1,"sites\/all\/themes\/theme954\/js\/device.min.js":1,"sites\/all\/themes\/theme954\/js\/jquery.mousewheel.min.js":1,"sites\/all\/themes\/theme954\/js\/jquery.simplr.smoothscroll.min.js":1,"sites\/all\/themes\/theme954\/js\/migrate.js":1,"sites\/all\/themes\/theme954\/js\/tm-parallax.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"sites\/all\/modules\/tipsy\/stylesheets\/tipsy.css":1,"modules\/comment\/comment.css":1,"sites\/all\/modules\/date\/date_api\/date.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"modules\/poll\/poll.css":1,"modules\/search\/search.css":1,"sites\/all\/modules\/tm_shortcodes\/css\/shortcodes.css":1,"modules\/user\/user.css":1,"modules\/forum\/forum.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/tm_lazyload\/css\/tm_lazyload.css":1,"sites\/all\/modules\/cctags\/cctags.css":1,"sites\/all\/libraries\/colorbox\/example1\/colorbox.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/panels\/css\/panels.css":1,"sites\/all\/modules\/tm_animate\/css\/animate.css":1,"sites\/all\/modules\/tm_font_awesome\/css\/font-awesome.css":1,"sites\/all\/modules\/flexslider\/assets\/css\/flexslider_img.css":1,"sites\/all\/libraries\/flexslider\/flexslider.css":1,"sites\/all\/modules\/dismiss\/css\/dismiss.base.css":1,"sites\/all\/modules\/tm_follow\/css\/tm_follow.css":1,"sites\/all\/libraries\/superfish\/css\/superfish.css":1,"sites\/all\/themes\/theme954\/css\/boilerplate.css":1,"sites\/all\/themes\/theme954\/css\/style.css":1,"sites\/all\/themes\/theme954\/css\/maintenance-page.css":1,"sites\/all\/themes\/theme954\/css\/skeleton.css":1,"sites\/all\/themes\/theme954\/css\/custom.css":1}},"colorbox":{"opacity":"0.85","current":"{current} of {total}","previous":"\u00ab Prev","next":"Next \u00bb","close":"Close","maxWidth":"98%","maxHeight":"98%","fixed":true,"mobiledetect":true,"mobiledevicewidth":"960px"},"tipsy":{"custom_selectors":[{"selector":".tipsy","options":{"fade":1,"gravity":"w","trigger":"hover","delayIn":"0","delayOut":"0","opacity":"0.8","offset":"0","html":0,"tooltip_content":{"source":"attribute","selector":"title"}}}]},"flexslider":{"optionsets":{"default":{"namespace":"flex-","selector":".slides \u003E li","easing":"swing","direction":"horizontal","reverse":false,"smoothHeight":false,"startAt":0,"animationSpeed":600,"initDelay":0,"useCSS":true,"touch":true,"video":false,"keyboard":true,"multipleKeyboard":false,"mousewheel":0,"controlsContainer":".flex-control-nav-container","sync":"","asNavFor":"","itemWidth":0,"itemMargin":0,"minItems":0,"maxItems":0,"move":0,"animation":"fade","slideshow":true,"slideshowSpeed":"7000","directionNav":false,"controlNav":false,"prevText":"Previous","nextText":"Next","pausePlay":false,"pauseText":"Pause","playText":"Play","randomize":false,"thumbCaptions":false,"thumbCaptionsBoth":false,"animationLoop":true,"pauseOnAction":true,"pauseOnHover":false,"manualControls":""}},"instances":{"flexslider-1":"default"}},"olark":{"disable_ios":1,"enabled":1},"superfish":{"1":{"id":"1","sf":{"animation":{"opacity":"show","height":["show","easeOutCubic"]},"speed":"\u0027fast\u0027","autoArrows":false,"dropShadows":false,"disableHI":false},"plugins":{"touchscreen":{"mode":"useragent_custom","useragent":"iphone|android|ipad"},"supposition":false,"bgiframe":false,"supersubs":{"minWidth":"12","maxWidth":"27","extraWidth":1}}}}});
//--><!]]>
    </script>
    <!--[if LT IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script>
		if (jQuery.cookie('the_cookie') != 0) {
			document.write('<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">')
		} else {
			document.write('<meta name="viewport" content="width=device-width">')
		}
    </script>
    <link rel="stylesheet" href="/drupal_52895/sites/all/themes/theme954/css/style-mobile.css" media="screen" id="style-mobile">
    <link rel="stylesheet" href="/drupal_52895/sites/all/themes/theme954/css/skeleton-mobile.css" media="screen" id="skeleton-mobile">
    <script type="text/javascript">
/* <![CDATA[ */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7078796-5']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

(function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
/* ]]> */
    </script>
</head>
<div id="body" class="html front not-logged-in no-sidebars page-node with-navigation with-subnav">
    <a href="#main-menu" class="element-invisible element-focusable">Skip to navigation</a>
    <a href="#content" class="element-invisible element-focusable">Skip to main content</a>
    <div id="page-wrapper" class="page-wrapper">
        <div id="page" class="page">

            <header id="header" class="header page-header clearfix" role="banner">

                <div class="header-section-1">
                    <div class="container-12">
                        <div class="grid-12 content-wrapper">

                            <div id="logo" class="logo">
                                <a href="/drupal_52895/" title="Home" rel="home" id="img-logo" class="img-logo">
                                    <img src="http://livedemo00.template-help.com/drupal_52895/sites/all/themes/theme954/logo.png" alt="Home">
                                </a>
                                <h1 title="Anime" id="site-name" class="site-name">
                                    <a href="/drupal_52895/" title="Anime">Anime</a>
                                </h1>
                            </div>
                            <div class="stickup">

                                <div class="region region-menu">
                                    <div id="block-superfish-1" class="block-superfish-1 block block-superfish block-odd">


                                        <div class="content block-content">
                                            <ul id="superfish-1" class="menu sf-menu sf-main-menu sf-horizontal sf-style-none sf-total-items-6 sf-parent-items-2 sf-single-items-4"><li id="menu-201-1" class="active-trail first odd sf-item-1 sf-depth-1 sf-total-children-3 sf-parent-children-3 sf-single-children-0 menuparent"><a href="/drupal_52895/" class="sf-depth-1 menuparent active">Home</a><ul class="sf-megamenu"><li class="sf-megamenu-wrapper active-trail first odd sf-item-1 sf-depth-1 sf-total-children-3 sf-parent-children-3 sf-single-children-0 menuparent"><ol><li id="menu-5076-1" class="first odd sf-item-1 sf-depth-2 sf-total-children-2 sf-parent-children-0 sf-single-children-2 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="/drupal_52895/?q=archive" title="" class="sf-depth-2 menuparent">Archive</a><ol><li id="menu-5077-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="/drupal_52895/?q=faqs" title="" class="sf-depth-3">FAQs</a></li><li id="menu-5944-1" class="last even sf-item-2 sf-depth-3 sf-no-children"><a href="/drupal_52895/?q=testimonials" title="" class="sf-depth-3">Testimonials</a></li></ol></div></li><li id="menu-5612-1" class="middle even sf-item-2 sf-depth-2 sf-total-children-2 sf-parent-children-0 sf-single-children-2 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://drupal.org" title="" class="sf-depth-2 menuparent">Cras suscipit</a><ol><li id="menu-5945-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://drupal.org" title="" class="sf-depth-3">Lorem ipsum</a></li><li id="menu-5614-1" class="last even sf-item-2 sf-depth-3 sf-no-children"><a href="http://drupal.org" class="sf-depth-3">Vestibulum diam</a></li></ol></div></li><li id="menu-5615-1" class="last odd sf-item-3 sf-depth-2 sf-total-children-2 sf-parent-children-0 sf-single-children-2 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://drupal.org" title="" class="sf-depth-2 menuparent">Cras euismod</a><ol><li id="menu-5616-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://drupal.org" title="" class="sf-depth-3">Vivamus sit</a></li><li id="menu-5940-1" class="last even sf-item-2 sf-depth-3 sf-no-children"><a href="http://drupal.org" title="" class="sf-depth-3">Dolore sit</a></li></ol></div></li></ol></li></ul></li><li id="menu-5074-1" class="middle even sf-item-2 sf-depth-1 sf-no-children"><a href="/drupal_52895/?q=about" title="" class="sf-depth-1">About us</a></li><li id="menu-6457-1" class="middle odd sf-item-3 sf-depth-1 sf-no-children"><a href="/drupal_52895/?q=movies" class="sf-depth-1">Anime movies</a></li><li id="menu-739-1" class="middle even sf-item-4 sf-depth-1 sf-total-children-3 sf-parent-children-1 sf-single-children-2 menuparent"><a href="/drupal_52895/?q=portfolio" title="" class="sf-depth-1 menuparent">Comics</a><ul><li id="menu-3768-1" class="first odd sf-item-1 sf-depth-2 sf-no-children"><a href="/drupal_52895/?q=portfolio-2" title="" class="sf-depth-2">Comics 2</a></li><li id="menu-3769-1" class="middle even sf-item-2 sf-depth-2 sf-total-children-3 sf-parent-children-0 sf-single-children-3 menuparent"><a href="/drupal_52895/?q=portfolio-3" title="" class="sf-depth-2 menuparent">Comics 3</a><ul><li id="menu-5079-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="/drupal_52895/?q=taxonomy/term/31" title="" class="sf-depth-3">Category 1</a></li><li id="menu-5080-1" class="middle even sf-item-2 sf-depth-3 sf-no-children"><a href="/drupal_52895/?q=taxonomy/term/30" title="" class="sf-depth-3">Category 2</a></li><li id="menu-5081-1" class="last odd sf-item-3 sf-depth-3 sf-no-children"><a href="/drupal_52895/?q=taxonomy/term/29" title="" class="sf-depth-3">Category 3</a></li></ul></li><li id="menu-3767-1" class="last odd sf-item-3 sf-depth-2 sf-no-children"><a href="/drupal_52895/?q=portfolio-4" title="" class="sf-depth-2">Comics 4</a></li></ul></li><li id="menu-668-1" class="middle odd sf-item-5 sf-depth-1 sf-no-children"><a href="/drupal_52895/?q=blog" title="" class="sf-depth-1">Blog</a></li><li id="menu-4931-1" class="last even sf-item-6 sf-depth-1 sf-no-children"><a href="/drupal_52895/?q=contacts" class="sf-depth-1">Contacts</a></li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="header_wrapper" class="header_wrapper">
                    <div class="container-12">
                        <div class="grid-12 content-wrapper">
                            <div class="region region-header">
                                <div id="block-views-slider-block" class="block-views-slider-block block block-views block-even">


                                    <div class="content block-content">
                                        <div class="view view-slider view-id-slider view-display-id-block view-dom-id-9bed95d2ab6cd6af98aa9eed95129689">
                                            <div class="view-content">
                                                <div id="flexslider-1" class="flexslider">
                                                    <ul class="slides">
                                                        <li>
                                                            <div class="views-field views-field-field-slide-image"> <div class="field-content"><img src="http://livedemo00.template-help.com/drupal_52895/sites/default/files/styles/flexslider_full/public/slide-1.jpg?itok=RkWzVyus" width="780" height="564" /><noscript><img width="780" height="564" /></noscript></div> </div><div class="flex-caption">
                                                                <h2>Yu-Gi-Oh! Arc-V<br>Episode 28</h2>
                                                                Aenean tempus mollis convallis. Vivamus laoreet fermentum diam, sit amet facilisis arcu pellentesque scelerisque. Etiam convallis elit vitae ipsum vestibulum, id vulputate enim auctor.
                                                                <div class="btn"><a href="/drupal_52895/?q=node/90">More</a></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-field-slide-image"> <div class="field-content"><img src="http://livedemo00.template-help.com/drupal_52895/sites/default/files/styles/flexslider_full/public/slide-2.jpg?itok=L5_JroEW" width="780" height="564" /><noscript><img width="780" height="564" /></noscript></div> </div><div class="flex-caption">
                                                                <h2>Nanatsu no Taizai<br>Episode 3</h2>
                                                                Nulla scelerisque varius ante, nec commodo ipsum pulvinar a. Proin euismod, ipsum tristique tempor scelerisque, augue lorem cursus enim, id iaculis lorem eros in erat.
                                                                <div class="btn"><a href="/drupal_52895/?q=node/89">More</a></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-field-slide-image"> <div class="field-content"><img src="http://livedemo00.template-help.com/drupal_52895/sites/default/files/styles/flexslider_full/public/slide-3.jpg?itok=cw3Kg0_f" width="780" height="564" /><noscript><img width="780" height="564" /></noscript></div> </div><div class="flex-caption">
                                                                <h2>Tamako Love<br>Story Movie (2014)</h2>
                                                                Aliquam erat volutpat. Praesent quis nibh nisl. Cras at libero quam, ut tincidunt diam. Fusce aliquet augue a ipsum ullamcorper semper. Suspendisse potenti.
                                                                <div class="btn"><a href="/drupal_52895/?q=node/47">More</a></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="header_bottom_wrapper" class="header_bottom_wrapper">
                    <div class="container-12">
                        <div class="grid-12 content-wrapper">
                            <div class="region region-header-bottom">
                                <div id="block-menu-menu-featured-menu" class="block-menu-menu-featured-menu block block-menu blocks-menu block-odd">


                                    <div class="content block-content">
                                        <ul class="menu clearfix">
                                            <li class="first leaf light-green menu-icon-1 popular-movies mid-6459"><a href="http://drupal.org">Popular movies</a></li>
                                            <li class="leaf black menu-icon-2 anime-gallery mid-6460"><a href="/drupal_52895/?q=movies">Anime gallery</a></li>
                                            <li class="leaf red menu-icon-3 read-manga mid-6461"><a href="/drupal_52895/?q=portfolio">Read manga</a></li>
                                            <li class="leaf violet menu-icon-4 forum mid-6462"><a href="/drupal_52895/?q=forum">Forum</a></li>
                                            <li class="leaf green menu-icon-5 faq mid-6463"><a href="/drupal_52895/?q=faqs">FAQ</a></li>
                                            <li class="last leaf blue menu-icon-6 new-amp-hot mid-6464"><a href="/drupal_52895/?q=blog">New &amp; hot</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div id="main-wrapper" class="main-wrapper" role="main">

                <div id="content_top_wrapper" class="content_top_wrapper">
                    <div class="container-12">
                        <div class="grid-12 content-wrapper">
                            <div class="region region-content-top">
                                <div id="block-views-welcome-block" class="block-views-welcome-block block block-views prefix-2 suffix-2 block-even">


                                    <div class="content block-content">
                                        <div class="view view-welcome view-id-welcome view-display-id-block view-dom-id-4b4c21d4eda1a7501196d43519cec0bf">
                                            <div class="view-content">
                                                <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                                    <div class="views-field views-field-field-image"> <div class="field-content"><img src="http://livedemo00.template-help.com/drupal_52895/sites/default/files/field/image/img1.png" width="373" height="167" /><noscript><img width="373" height="167" /></noscript></div> </div>
                                                    <h2 class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/121">Welcome!</a></span> </h2>
                                                    <h4 class="views-field views-field-nothing"> About our website </h4>
                                                    <div class="views-field views-field-body">
                                                        <span class="field-content">
                                                            Phasellus vel bibendum dui, vestibulum consectetur sem. Fusce feugiat mauris eget nunc malesuada finibus quis in diam. Mauris pulvinar pellentesque libero, nec tincidunt odio viverra pulvinar. Vestibulum at malesuada lectus. Aliquam feugiat dictum urna at hendrerit. Ut volutpat tristique velit pharetra lacinia. Vestibulum ultricies pharetra nulla, eget sollicitudin dui ullamcorper vel.
                                                            Sed a sagittis lectus. Duis orci metus, maximus in pulvinar ac, tincidunt in nisi. Suspendisse sagittis
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-12">
                    <div class="grid-12 content-wrapper">
                        <div id="main" class="main clearfix">

                            <div id="content" class="content content-main ">
                                <header id="content-header" class="content-header"></header>

                                <div class="region region-content">
                                    <div id="block-system-main" class="block-system-main block block-system block-odd">


                                        <div class="content block-content">
                                        </div>
                                    </div>
                                    <div id="block-views-recent-posts-block" class="block-views-recent-posts-block block block-views block-even">

                                        <h2 class="title block-title">Posts</h2>

                                        <div class="content block-content">
                                            <div class="view view-recent-posts view-id-recent_posts view-display-id-block view-dom-id-069e6433ca7032782a863e723e9da939">
                                                <div class="view-content">
                                                    <div class="views-row grid-6 alpha odd">
                                                        <div class="views-field views-field-field-blog-media"> <div class="field-content"><img src="http://livedemo00.template-help.com/drupal_52895/sites/default/files/styles/block_blog_image/public/img30_0.jpg?itok=fICvBpAF" width="584" height="299" alt="" /><noscript><img width="584" height="299" alt="" /></noscript></div> </div>
                                                        <div class="views-field views-field-title"> <h4 class="field-content"><a href="/drupal_52895/?q=node/41">Duis autem vel eum iriure dolor</a></h4> </div>
                                                        <div class="views-field views-field-body"> <span class="field-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus, sem eget sagittis sagittis, nisl magna sodales eros, ut feugiat velit velit non turpis</span> </div>
                                                        <div class="views-field views-field-view-node"> <div class="field-content btn"><a href="/drupal_52895/?q=node/41">Read more</a></div> </div>
                                                    </div>
                                                    <div class="views-row grid-6 omega even">
                                                        <div class="views-field views-field-field-blog-media"> <div class="field-content"><img src="http://livedemo00.template-help.com/drupal_52895/sites/default/files/styles/block_blog_image/public/img02.jpg?itok=9HNhFBNk" width="584" height="299" alt="" /><noscript><img width="584" height="299" alt="" /></noscript></div> </div>
                                                        <div class="views-field views-field-title"> <h4 class="field-content"><a href="/drupal_52895/?q=node/38">Cosplay Terarum formas huma 2015</a></h4> </div>
                                                        <div class="views-field views-field-body"> <span class="field-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus, sem eget sagittis sagittis, nisl magna sodales eros, ut feugiat velit velit non turpis</span> </div>
                                                        <div class="views-field views-field-view-node"> <div class="field-content btn"><a href="/drupal_52895/?q=node/38">Read more</a></div> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="content_bottom_wrapper" class="content_bottom_wrapper">
                    <div class="container-12">
                        <div class="grid-12 content-wrapper">
                            <div class="region region-content-bottom">
                                <div id="block-views-movies-block" class="block-views-movies-block block block-views block-odd">

                                    <h2 class="title block-title">Latest Episodes</h2>

                                    <div class="content block-content">
                                        <div class="view view-movies view-id-movies view-display-id-block view-dom-id-05e3e81793c671ca7d3388b495c06092">
                                            <div class="view-content">
                                                <div class="item-list">
                                                    <ul>
                                                        <li class="views-row views-row-1 views-row-odd views-row-first">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/140">Naruto Shippuden</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-2 views-row-even">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/139">Steins//Gate</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-3 views-row-odd">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/138">Akihabara Dennou Gumi</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-4 views-row-even">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/137">Bleach</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-5 views-row-odd">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/136">Freezing</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-6 views-row-even">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/135">Azumanga Daioh: Gekijou Tanpen</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-7 views-row-odd">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/134">One Piece</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-8 views-row-even">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/133">Gintama</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-9 views-row-odd">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/132">Azumanga Web Daioh</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-10 views-row-even">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/131">Fairy Tail</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-11 views-row-odd">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/130">Beezlebub</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-12 views-row-even">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/129">Queen&#039;s Blade: Rebellion Specials</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-13 views-row-odd">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/128">Toriko</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-14 views-row-even">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/127">Fairy Tail</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-15 views-row-odd">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/126">Vanquished Queens</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-16 views-row-even">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/125">Hunter X Hunter 2011</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-17 views-row-odd">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/124">Deadman Wonderland</a></span> </div>
                                                        </li>
                                                        <li class="views-row views-row-18 views-row-even views-row-last">
                                                            <div class="views-field views-field-title"> <span class="field-content"><a href="/drupal_52895/?q=node/123">Sankarea OVA</a></span> </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer id="footer" class="footer page-footer" role="contentinfo">

                <div id="footer_top_wrapper" class="footer_top_wrapper">
                    <div class="container-12">
                        <div class="grid-12 content-wrapper">
                            <div class="region region-footer-top">
                                <div id="block-block-8" class="block-block-8 block block-block prefix-3 suffix-3 block-contact-form block-even">

                                    <h2 class="title block-title">Contact form</h2>

                                    <div class="content block-content">
                                        <form class="user-info-from-cookie contact-form" action="/drupal_52895/" method="post" id="contact-site-form" accept-charset="UTF-8">
                                            <div>
                                                <div class="form-item form-type-textfield form-item-name">
                                                    <label class="element-invisible" for="edit-name">Your name <span class="form-required" title="This field is required.">*</span></label>
                                                    <input placeholder="Name" type="text" id="edit-name" name="name" value="" size="60" maxlength="255" class="form-text required" />
                                                </div>
                                                <div class="form-item form-type-textfield form-item-mail">
                                                    <label class="element-invisible" for="edit-mail">Your e-mail address <span class="form-required" title="This field is required.">*</span></label>
                                                    <input placeholder="E-mail" type="text" id="edit-mail" name="mail" value="" size="60" maxlength="255" class="form-text required" />
                                                </div>
                                                <div class="form-item form-type-textfield form-item-subject">
                                                    <label class="element-invisible" for="edit-subject">Subject <span class="form-required" title="This field is required.">*</span></label>
                                                    <input placeholder="Subject" type="text" id="edit-subject" name="subject" value="" size="60" maxlength="255" class="form-text required" />
                                                </div>
                                                <div class="form-item form-type-textarea form-item-message">
                                                    <label class="element-invisible" for="edit-message">Message <span class="form-required" title="This field is required.">*</span></label>
                                                    <div class="form-textarea-wrapper resizable"><textarea placeholder="Message" id="edit-message" name="message" cols="60" rows="5" class="form-textarea required"></textarea></div>
                                                </div>
                                                <input type="hidden" name="form_build_id" value="form-T-6YYfG9V0laHNBRROEBypBujTdqB4tWs6ztRIb50qU" />
                                                <input type="hidden" name="form_id" value="contact_site_form" />
                                                <input class="form-button" type="reset" value="Clear"><div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Send message" class="form-submit" /></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-12">
                    <div class="grid-12 clearfix">
                        <div class="footer-wrapper clearfix">

                            <div class="region region-footer">
                                <div id="block-tm-follow-site" class="block-tm-follow-site block block-tm-follow block-odd">


                                    <div class="content block-content">
                                        <div class='tm-follow-links clearfix site'>
                                            <span class='tm-follow-link-wrapper tm-follow-link-wrapper-facebook without-label'>
                                                <a href="http://facebook.com/" class="tm-follow-link tm-follow-link-facebook tm-follow-link-site"></a>
                                            </span><span class='tm-follow-link-wrapper tm-follow-link-wrapper-twitter without-label'>
                                                <a href="http://twitter.com/" class="tm-follow-link tm-follow-link-twitter tm-follow-link-site"></a>
                                            </span><span class='tm-follow-link-wrapper tm-follow-link-wrapper-this-site without-label'>
                                                <a href="/drupal_52895/?q=rss.xml" class="tm-follow-link tm-follow-link-this-site tm-follow-link-site"></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="block-block-5" class="block-block-5 block block-block block-copyright block-even">


                                    <div class="content block-content">
                                        <div><a href="/drupal_52895/" class="site-logo"><img src="/drupal_52895//sites/default/files/footer-logo.png" alt="Footer logo"></a><span class="sitename">Anime</span></div>
                                        Copyright &copy; 2015 &bull; <a href="?q=privacy-policy">Privacy policy</a>
                                    </div>
                                    <div class="switcher">Desktop Version Only</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
        </footer>
    </div>
    </div> <div class="region region-page-bottom">

        <script type="text/javascript" data-cfasync="false">
// <![CDATA[
/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('7830-582-10-3714');/*]]>*/
// ]]></script>
    <pre>
        <noscript><a href="https://www.olark.com/site/7830-582-10-3714/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
</pre>
    </div>
    <script type="text/javascript">
<!--//--><![CDATA[//><!--
/**
 * @file
 *   Main JavaScript file for Dismiss module
 */

(function ($) {

  Drupal.behaviors.dismiss = {
    attach: function (context) {

      // Prepend the Dismiss button to each message box.
      $('.messages').each(function () {
        var flag = $(this).children().hasClass('dismiss');

        if (!flag) {
          $(this).prepend('<button class="dismiss"><span class="element-invisible">' + Drupal.t('Close this message.') + '</span></button>');
        }
      });

      // When the Dismiss button is clicked hide this set of messages.
      $('.dismiss').click(function () {
        $(this).parent().hide('fast');
      });

    }
  }

})(jQuery);

//--><!]]>
    </script>
    <script type="text/javascript" src="http://livedemo00.template-help.com/drupal_52895/sites/all/modules/flexslider/assets/js/flexslider.load.js?ntz1zr"></script>
    <script type="text/javascript">
/* CloudFlare analytics upgrade */
    </script>
</div>