html, body
{
	height: 100%;
	width: 100%;
}
body
{
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 12px;
	overflow: hidden;
}
#frame
{
	background: url(../images/top-bg.jpg) repeat-x;
	float: left;
	width: 100%;
}
#frame > div
{
	height: 94px;
	margin: 0 auto;
	overflow: hidden;
	width: 80%;
}
#frame > div > *
{
	float: left;
	height: 91px;
	padding-left: 15px;
	padding-top: 0px;
	width: 100%;
}
#frame h1
{
	display: inline-block;
	padding: 0;
	position: relative;
	width: 425px;
}
#frame h1 a
{
	display: block;
	height: 100px;
	text-indent: -999em;
	width: 350px;
}
#frame h1 span
{
	font-size: 14px;
	font-weight: bold;
	left: 125px;
	position: absolute;
	text-transform: uppercase;
	top: 78px;
}
iframe
{
	height: 100%;
	width: 100%;
}